@import "../omarchy/current/theme/swayosd.css";

window {
  border-radius: 12px;
  opacity: 1;
  border: 1px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
